<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="spring-loggers.xml"/>

    <bean id="client" class="com.yet.spring.core.bean.Client">
        <constructor-arg type="java.lang.Integer" value="1"/>
        <constructor-arg value="John S."/>
        <property name="greeting" value="Hello App!!!"/>
    </bean>

    <bean id="app" class="com.yet.spring.core.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="cacheFileEventLogger"/>
        <constructor-arg>
            <map>
                <entry key="INFO" value-ref ="consoleEventLogger"/>
                <entry key="ERROR" value-ref ="combinedEventLogger"/>
            </map>
        </constructor-arg>
    </bean>

</beans>